@import "./scss/_variables.scss";
@import "./scss/_fonts.scss";
@import "./scss/_typography.scss";
@import "./scss/_base.scss";
@import "./scss/_modal.scss";
@import "./scss/_input.scss";
@import "./scss/_spacing.scss";

@import "./scss/_header.scss";
@import "./scss/_footer.scss";

@import "./scss/_card.scss";
@import "./scss/_requests.scss";
@import "./scss/_roadmap.scss";

body {
	background-color: $lightest-gray;
	color: $darkest-gray;
}

main {
	margin-bottom: 40px;
}

section {
	&.invert {
		background-color: $darkest-gray;
		color: $white;
		h2 {
			color: $light-gray;
			b {
				color: $white;
			}
		}
	}
}

.wide {
	margin: auto;
	width: 100%;
	max-width: 1160px;
	padding: 80px;

	&> img {
		max-width: 100%;
	}
	@media (max-width: $breakpoint-large) {
		padding: 80px 60px;
	}
	@media (max-width: $breakpoint-medium) {
		padding: 80px 40px;
	}
	@media (max-width: $breakpoint-small) {
		padding: 60px 20px;
	}
}

.border {
	position: relative;
	&::after {
		content: "";
		border-bottom: 1px solid $lighter-gray;
		position: absolute;
		left: 80px;
		right: 80px;
		bottom: 0;
	}
}

aside {
	display: flex;
	justify-content: center;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	@media (max-width: $breakpoint-small) {
		flex-wrap: wrap;
	}
	&.space {
		margin-top: 80px;
	}
	.window {
		margin-right: 60px;
	}
	& > div {
		h3 {
			font-size: 1.5rem;
		}
		p {
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 1.1rem;
		}
		.links {
			a {
				display: block;
				margin-bottom: 5px;
			}
		}
	}
}

.window {
	position: relative;
	width: 100%;
	min-height: 220px;
	padding-top: 20px;
	// padding-bottom: 56.25%;
	background-color: $lighter-gray;
	border-radius: 3px;
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
	text-align: center;
	overflow: hidden;
	&.small {
		background-color: $darkest-gray;
		max-height: 220px;
		height: 100%;
		max-width: 300px;
		padding-bottom: 0;
		@media (max-width: $breakpoint-small) {
			width: 100%;
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}
		&::before {
			// background-color: $accent;
		}
		img {
			width: auto;
			max-width: 100%;
			max-height: 100%;
			padding: 20px 30px 30px;
			&.pad-directus {
				padding: 40px 60px 30px;
			}
			&.pad-ranger {
				padding: 80px 60px 30px;
			}
			&.pad-cloud {
				padding: 40px 60px 30px;
			}
		}
	}
	&.chromeless {
		padding: 0;
		&::before {
			content: none;
		}
		&::after {
			content: none;
		}
		img {
			width: auto;
			max-width: 100%;
			max-height: 100%;
			padding: 0;
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 20px;
		background-color: $light-gray;
		border-radius: 3px 3px 0 0;
	}
	&::after {
		content: "more_horiz";
		font-family: "Material Icons";
		font-size: 48px;
		line-height: 20px;
		position: absolute;
		top: 0;
		left: 0;
		color: $white;
		opacity: 0.4;
	}
	iframe {
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: calc(100% - 20px);
		outline: none;
		border: none;
		overflow: hidden;
		border-radius: 3px;
	}
	video {
		width: 100%;
		height: auto;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.icon-details {
	vertical-align: middle;
	color: $light-gray;
	svg {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
}

.two-up {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 60px;
	transform: translatex(20px); // Optical
	@media (max-width: $breakpoint-medium) {
		transform: translatex(0); // Optical
	}
	& > div {
		width: calc(50% - 40px);
		max-width: 350px;
		margin: 30px 20px;
		@media (max-width: $breakpoint-large) {
			// max-width: 270px;
		}
		@media (max-width: $breakpoint-medium) {
			width: 100%;
			max-width: 400px;
			margin: 40px;
		}
		@media (max-width: $breakpoint-small) {
			margin: 40px 20px;
		}
		.material-icons {
			font-size: 36px;
		}
		h3 {
			margin-top: 15px;
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 20px;
		}
	}
}
.three-up {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	& > div {
		width: calc(33% - 40px);
		max-width: 300px;
		margin-top: 60px;
		h4 {
			margin-top: 15px;
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 20px;
			font-size: 0.875rem;
		}
	}
}

@keyframes float-3 {
	0% {
		box-shadow: 0 8px 35px 0px rgba(0,0,0,0.2);
		transform: rotateX(40deg) translatey(0px) scale(1);
	}
	30% {
		box-shadow: 0 24px 40px 0px rgba(0,0,0,0.1);
		transform: rotateX(40deg) translatey(-5px) scale(1);
	}
	70% {
		box-shadow: 0 6px 35px 0px rgba(0,0,0,0.1);
		transform: rotateX(40deg) translatey(2px) scale(1);
	}
	100% {
		box-shadow: 0 8px 35px 0px rgba(0,0,0,0.2);
		transform: rotateX(40deg) translatey(0px) scale(1);
	}
}

@keyframes float-2 {
	0% {
		box-shadow: 0 8px 30px 0px rgba(0,0,0,0.2);
		transform: rotateX(40deg) translatey(0px) scale(1);
	}
	40% {
		box-shadow: 0 24px 35px 0px rgba(0,0,0,0.1);
		transform: rotateX(40deg) translatey(-6px) scale(1);
	}
	80% {
		box-shadow: 0 16px 32px 0px rgba(0,0,0,0.1);
		transform: rotateX(40deg) translatey(-2px) scale(1);
	}
	100% {
		box-shadow: 0 8px 30px 0px rgba(0,0,0,0.2);
		transform: rotateX(40deg) translatey(0px) scale(1);
	}
}

@keyframes float-1 {
	0% {
		box-shadow: 0 8px 25px 0px rgba(0,0,0,0.3);
		transform: rotateX(40deg) translatey(0px) scale(1);
	}
	20% {
		box-shadow: 0 20px 30px 0px rgba(0,0,0,0.2);
		transform: rotateX(40deg) translatey(-5px) scale(1);
	}
	60% {
		box-shadow: 0 6px 20px 0px rgba(0,0,0,0.4);
		transform: rotateX(40deg) translatey(3px) scale(1);
	}
	100% {
		box-shadow: 0 8px 25px 0px rgba(0,0,0,0.3);
		transform: rotateX(40deg) translatey(0px) scale(1);
	}
}

.layers {
	position: relative;
	margin: 60px auto 100px;
	width: 300px;
	height: 230px;
	transform: translate3d(0, 0, 0);
	perspective: 400;
	div {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 180px;
		border-radius: 3px;
		box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
		text-align: center;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
		transition: 800ms $transition all;
		i {
			content: "store";
			font-family: "Material Icons";
			font-size: 96px;
			top: 25px;
			position: relative;
			opacity: 0.3;
		}
		span {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 13px;
			text-align: center;
		}
		&:nth-child(3) {
			animation: float-3 8s ease-in-out infinite;
			top: 0px;
			background-color: $darkest-gray;
			border-bottom: 2px solid $black;
			color: $white;
		}
		&:nth-child(2) {
			animation: float-2 6.3s ease-in-out infinite;
			top: 40px;
			background-color: $accent;
			border-bottom: 2px solid $accent-dark;
			color: $white;
		}
		&:nth-child(1) {
			animation: float-1 10.8s ease-in-out infinite;
			top: 80px;
			background-color: $white;
			border-bottom: 2px solid $lightest-gray;
			color: $light-gray;
		}
	}
	&.sdk {

	}
	&.api {

	}
	&.database {
		#app {
			top: 40px;
		}
		#api {
			opacity: 0;
		}
	}
	&.none {
		#app {
			opacity: 0;
			top: 40px;
		}
		#api {
			opacity: 0;
		}
	}
}

.connections {
	text-align: center;
	margin-top: 60px;
	h4 {
		font-style: italic;
		color: $light-gray;
	}
	div {
		display: inline-block;
		border: 1px solid $lighter-gray;
		padding: 6px 16px;
		margin-top: 20px;
		cursor: pointer;
		margin-left: -1px;
		color: $gray;
		&:first-of-type {
			border-radius: 30px 0 0 30px;
		}
		&:last-of-type {
			border-radius: 0 30px 30px 0;
		}
		&:hover {
			color: $darkest-gray;
		}
		&.active {
			color: $darkest-gray;
			background-color: $lighter-gray;
		}
	}
}

.connection_output {
	display: none;
	margin: 100px auto;
	max-width: 700px;
	text-align: center;
	color: $darkest-gray;
	&.active {display: grid;}
	p {
		font-size: 1.125rem;
	}
}

.brand-asset-colors,
.brand-asset-logos,
.brand-asset-icons,
.contact,
.features,
.brands,
.icons,
.sdks {
	--columns: 3;
	max-width: 700px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
	margin: auto;
	grid-template-columns: repeat(var(--columns), 1fr);
	list-style: none;
	margin-top: 90px;

	@media (min-width: 560px) { --columns: 4; }

	@media (min-width: 700px) { --columns: 6; }

	svg { margin-bottom: 1em; }

	path {
		fill: $lighter-gray;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	li {
		display: flex;
		flex-basis: 7em;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin: 1em 0 2em 0;
		color: $lighter-gray;
		font-size: 16px;
		letter-spacing: 0.1px;
		line-height: 20px;
		text-decoration: none;
		transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:focus { outline: 0; }

		&:hover,
		&:focus {
			color: $dark-gray;
			cursor: pointer;

			path {
				fill: $dark-gray;
			}
		}
	}
	.active {
		color: $darkest-gray;
		path { fill: $darkest-gray; }
		&:hover path { fill: $darkest-gray; }
	}
}

.icons {
	display: grid;
}

.features {
	display: grid;
	max-width: 1000px;
	margin-top: 0;
	li {
		color: $gray;
	}

	@media (min-width: 560px) { --columns: 4; }

	@media (min-width: 700px) { --columns: 5; }
	.material-icons {
		font-size: 48px;
		margin-bottom: 10px;
		color: $gray;
	}
}

.brands {
	display: grid;
	--columns: 3;
	@media (min-width: 700px) { --columns: 5; }
	li {
		position: relative;
		height: 100px;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translatey(-50%) translatex(-50%);
		}
	}
}

.brand-asset-logos {
	display: grid;
	--columns: 3;
	@media (min-width: 700px) { --columns: 3; }
	li {
		position: relative;
		img {
			position: relative;
			margin-bottom: 10px;
		}
		a {
			color: $dark-gray;
			text-decoration: none;
		}
		.details {
			font-size: 0.875rem;
		}
		&:hover,
		&:focus {
			color: $lighter-gray;
			cursor: default;
			path {
				fill: default;
			}
		}
	}
}

.brand-asset-icons {
	display: grid;
	--columns: 3;
	margin-top: 40px;
	@media (min-width: 700px) { --columns: 5; }
	li {
		position: relative;
		img {
			position: relative;
			max-height: 100px;
			margin-bottom: 10px;
		}
		a {
			color: $dark-gray;
			text-decoration: none;
		}
		.details {
			font-size: 0.875rem;
			font-weight: 500;
		}
		&:hover,
		&:focus {
			color: $lighter-gray;
			cursor: default;
			path {
				fill: default;
			}
		}
	}
}

.brand-asset-colors {
	display: grid;
	--columns: 4;
	margin-top: 40px;
	@media (min-width: 700px) { --columns: 8; }
	li {
		position: relative;
		text-align: center;
		span {
			position: relative;
			border-radius: 100%;
			width: 60px;
			height: 60px;
			margin-bottom: 10px;
		}
		a {
			color: $dark-gray;
			text-decoration: none;
		}
		.details {
			font-size: 0.875rem;
		}
		&:hover,
		&:focus {
			color: $lighter-gray;
			cursor: default;
			path {
				fill: default;
			}
		}
	}
}

.brand-assets-description {
	color: $light-gray;
	max-width: 640px;
	margin: auto;
	text-align: center;
	margin-top: 40px;
	.buttons {
		margin-top: 80px;
	}
}

.contact {
	display: grid;
	--columns: 6;
	max-width: 1000px;
	justify-content: space-between;
	@media (max-width: 800px) {
		--columns: 3;
	}
	@media (max-width: 500px) {
		--columns: 2;
	}
	li {
		position: relative;
		height: 100px;
		.material-icons {
			font-size: 48px;
			margin-bottom: 10px;
			color: $gray;
		}
		p {
			padding: 0;
			text-align: center;
			b {
				text-align: center;
			}
		}
	}
}

.testimonials {
	max-width: 600px;
	margin: 80px auto;
	text-align: center;
	.arrow {
		position: absolute;
		top: 20%;
		color: $lighter-gray;
		cursor: pointer;
		padding: 20px;
		font-size: 36px;
		transition: $medium $transition color;
		&:hover {
			color: $darkest-gray;
		}
		&.prev {
			left: -80px;
		}
		&.next {
			right: -80px;
		}
	}
	.slick-dots {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin-top: 20px;
		li {
			display: inline-block;
			&.slick-active button {
				background-color: $darkest-gray;
			}
			button {
				transition: $medium $transition all;
				background-color: $lighter-gray;
				border: none;
				border-radius: 100%;
				font-size: 0;
				padding: 6px;
				margin: 10px;
				cursor: pointer;
				outline: none;
				&:hover {
					background-color: $darker-gray;
				}
			}
		}
	}
	.testimonial {
		height: auto;
		padding: 20px;
		text-align: center;
		outline: none;
		h2 {
			text-indent: -0.4125em;
			font-style: italic;
		}
	}
}

.team {
	margin: 60px auto;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	&.contributors {
		margin-top: 0;
		max-width: 840px;
	}
	&.sponsors {
		margin-bottom: 0;
		margin-top: 0;
		max-width: 840px;
		.material-icons {
			border-radius: 100%;
			border: 2px solid $white;
			background-color: $lighter-gray;
			color: $light-gray;
			font-size: 42px;
			padding: 17px 18px;
			width: 80px;
			height: 80px;
		}
	}
	.byline {
		text-align: center;
	}
	img {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	a {
		transition: $medium $transition opacity;
		text-decoration: none;
		&:hover {
			opacity: 0.8;
		}
	}
}

.byline {
	position: relative;
	display: inline-block;
	text-align: left;
	margin-top: 40px;
	&.xlarge {
		margin: 40px;
		img {
			position: relative;
			width: 140px;
			height: 140px;
		}
		p {
			padding: 0;
			margin-top: 10px;
		}
		@media (max-width: $breakpoint-large) {
			margin: 30px;
		}
		@media (max-width: $breakpoint-medium) {
			margin: 20px;
		}
		@media (max-width: $breakpoint-small) {
			img {
				width: 100px;
				height: 100px;
			}
		}
		@media (max-width: 500px) {
			&:first-of-type {
				width: 100%;
			}
		}
	}
	&.large {
		width: 140px;
		img {
			position: relative;
			width: 80px;
			height: 80px;
		}
		p {
			font-size: 0.875rem;
			padding: 0;
			margin-top: 6px;
		}
		@media (max-width: $breakpoint-small) {
			width: 100px;
			img {
				width: 60px;
				height: 60px;
			}
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 100%;
		border: 2px solid $white;
		width: 60px;
		height: 60px;
	}
	p {
		padding-left: 80px;
		margin-top: 4px;
		b {
			color: $darkest-gray;
			display: block;
		}
	}
}

.badge {
	border-radius: $border-radius;
	padding: 2px 6px 2px;
	margin-left: 4px;
	font-size: 0.611111rem;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	color: rgba(255, 255, 255, 0.9);
	background-color: $accent;
	&.space {
		margin-left: 8px;
	}
	&.free {
		top: -4px;
	}
	&.system-status {
		top: -2px;
	}
	&.accent {
		background-color: $accent;
	}
	&.success {
		background-color: $success;
	}
	&.warning {
		background-color: $warning;
	}
	&.danger {
		background-color: $danger;
	}
	&.gray {
		background-color: $dark-gray;
	}
	.material-icons {
		font-size: 16px;
		vertical-align: bottom;
		margin-right: 4px;
		margin-left: -2px;
	}
}

#join-us {
	text-align: center;
	img {
		background-blend-mode: multiply; // Legacy
	}
}

#supporting-directus {
	h2 {
		margin-bottom: 40px;
	}
	p {
		margin: 20px auto;
		max-width: 600px;

	}
}

.buttons {
	margin: 2rem 0;
}

button.styled,
.buttons button,
.buttons a {
	transition: $medium $transition all;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	appearance: none;
	width: 100%;
	border-radius: $border-radius;
	border: 2px solid currentColor;
	border-color: $white;
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 700;
	padding: .8em;
	background-color: $white;
	color: $darkest-gray;
	margin: 0.8em 0;
	outline: none;

	max-width: 150px;

	@media (min-width: $breakpoint-small) {
		max-width: 200px;
	}

	&:hover, &:focus {
		opacity: 0.8;
	}

	&:not(:last-child) {
		margin-right: 10px;
	}

	&.ghost {
		background-color: transparent;
		color: $white;
	}
	&.dark {
		background-color: $darkest-gray;
		border-color: $darkest-gray;
		color: $white;
		&.ghost {
			background-color: transparent;
			color: $darkest-gray;
			border-color: $darkest-gray;
		}
	}
	&.bright {
		background-color: $accent;
		border-color: $accent;
		color: $white;
		&.ghost {
			background-color: transparent;
			color: $accent;
			border-color: $accent;
		}
	}
}

.modal {
	[aria-hidden="true"] {
		visibility: hidden;
	}

	[aria-hidden="false"] {
		visibility: visible;
	}
}

.screen-reader-offscreen {
	position: absolute;
	left: -99999px;
}

[data-modal] {
	display: flex;
}

#video [role="document"] {
	width: 90%;
	max-width: 1000px;
	.plyr--full-ui input[type=range] {
		color: $white;
	}
	.plyr--video .plyr__controls .plyr__control.plyr__tab-focus,
	.plyr--video .plyr__controls .plyr__control:hover,
	.plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
		background-color: $darkest-gray;
	}
	.plyr__control--overlaid {
		background: $white;
		svg {
			fill:  $darkest-gray
		}
	}
}

#fair-usage,
#terms,
#privacy {
	color: $light-gray;
	line-height: 24px;
	p {
		margin: 40px 0;
	}
	ol {
		margin: 40px 0;
		li {
			margin: 20px 0;
		}
	}
}
