footer {
	position: relative;
	background-color: $darkest-gray;
	color: $white;
	.angle {
		width: 100%;
		height: 60px;
		path {
			fill: $lightest-gray;
		}
	}
	.cta {
		padding-top: 60px;
	}
	a {
		text-decoration: none;
	}
	.content {
		width: 100%;
		padding: 40px;
		background-color: rgba(255, 255, 255, 0.05);
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left {
			max-width: 500px;
			h1 {
				margin-top: 0;
				margin-bottom: 5px;
			}
		}
		.buttons {
			margin: 0;
			a {
				min-width: 200px;
			}
		}
	}
	nav {
		&.wide {
			padding: 30px 80px 100px;
			display: flex;
			justify-content: space-between;
			flex-direction: row;
		}
		.left {
			flex-grow: 1.6;
			flex-basis: 0;
			p {
				margin-top: 10px;
				font-size: 0.6875rem;
				font-weight: 600;
				color: $dark-gray;
			}
		}
		ul {
			transition: $medium $transition color;
			vertical-align: middle;
			display: inline-block;
			text-decoration: none;
			margin-right: 40px;
			color: $light-gray;
			list-style: none;
			flex-grow:1;
			flex-basis: 0;
			li {
				margin-bottom: 16px;
				&:hover,
				&.active {
					color: $white;
				}
				&:first-of-type {
					color: $white;
				}
			}
		}
	}
}