footer {
	position: relative;
	background-color: $darkest-gray;
	color: $white;
	.angle {
		width: 100%;
		height: 40px;
		path,
		polygon {
			fill: $lightest-gray;
		}
		@media (max-width: $breakpoint-medium) {
			display: none;
		}
	}
	.cta {
		padding-top: 100px;
	}
	a {
		text-decoration: none;
	}
	.content {
		width: 100%;
		padding: 40px;
		background-color: rgba(255, 255, 255, 0.05);
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left {
			max-width: 500px;
			h1 {
				margin-top: 0;
				margin-bottom: 5px;
			}
		}
		.buttons {
			margin: 0;
			a {
				min-width: 200px;
			}
		}
		@media (max-width: $breakpoint-medium) {
			--columns: 1;
			flex-wrap: wrap;
			text-align: center;
			.left {
				width: 100%;
				max-width: 100%;
			}
			.buttons {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
	@media (max-width: $breakpoint-large) {
		nav.wide {
			.left {
				position: absolute;
				bottom: 40px;
				left: 0;
				right: 0;
				text-align: center;
			}
			ul {
				padding-bottom: 100px;
			}
		}
	}
	nav {
		&.wide {
			padding: 30px 80px 100px;
			display: flex;
			justify-content: space-between;
			@media (max-width: $breakpoint-large) {
				padding: 30px 60px 140px;
			}
			@media (max-width: $breakpoint-small) {
				padding: 30px 20px 180px;
				--columns: 2;
				flex-wrap: wrap;
				ul {
					min-width: calc(50% - 30px);
				}
				.logo {
					svg {
						margin-bottom: 40px;
					}
				}
			}
		}
		.left {
			flex-grow: 1.6;
			flex-basis: 0;
			p {
				margin-top: 10px;
				font-size: 0.6875rem;
				font-weight: 600;
				color: $dark-gray;
			}
			a {
				transition: $fast $transition all;
				&:hover {
					color: $white;
				}
			}
			.social {
				margin-top: 10px;
				a {
					svg {
						width: 20px;
						margin-right: 10px;
						vertical-align: middle;
						path,
						polygon {
							transition: $fast $transition all;
						}
					}
					&:hover svg path,
					&:hover svg polygon {
						fill: $white !important;
					}
				}
			}
		}
		ul {
			transition: $medium $transition color;
			vertical-align: middle;
			display: inline-block;
			text-decoration: none;
			margin-right: 40px;
			color: $light-gray;
			list-style: none;
			flex-grow: 1;
			flex-basis: 0;
			padding: 0;
			@media (max-width: $breakpoint-large) {
				margin-left: 15px;
				margin-right: 15px;
				text-align: center;
			}
			li {
				margin-bottom: 16px;
				&:hover,
				&.active {
					color: $white;
				}
				&:first-of-type {
					color: $white;
				}
			}
		}
	}
}