#menu {
	transition: $slow $transition opacity;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $darkest-gray;
	color: $white;
	text-align: center;
	z-index: 4;
	padding: 40px;
	font-size: 28px;
	font-weight: 300;
	opacity: 0;
	pointer-events: none;
	&.active {
		opacity: 1;
		pointer-events: all;
	}
	.logo {
		display: block;
		margin-bottom: 20px;
	}
	a:not(.icon) {
		transition: $slow $transition all;
		display: block;
		text-decoration: none;
		&:hover {
			color: $light-gray;
		}
	}
	.cta {
		display: inline-block;
		transition: $slow $transition all;
		background-color: $darker-gray;
		border-radius: 100%;
		width: 41px;
		height: 41px;
		border: 2px solid $darker-gray;
		color: $white;
		cursor: pointer;
		margin-top: 20px;
		.octicon {
			width: 27px;
			height: 27px;
			margin-top: 5px;
			margin-left: 0px;
			path {
				transition: $medium $transition all;
				fill: $gray;
			}
		}
		i {
			margin-top: 5px;
			margin-left: 7px;
		}
		&:hover {
			color: $white;
			.octicon {
				path {
					fill: $white;
				}
			}
			&::after {
				opacity: 1;
			}
		}
	}
	.close {
		display: block;
		transition: $slow $transition all;
		cursor: pointer;
		margin-top: 60px;
		&:hover {
			color: $light-gray;
		}
	}
}

nav.top {
	position: relative;
	transition: $slow $transition all;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	margin-top: 0;
	background-color: $darkest-gray;
	// background-color: rgba(38,50,56,0.9);
	.wide {
		position: relative;
		padding: 30px 80px;
		@media (max-width: $breakpoint-large) {
			padding: 30px 60px;
		}
		@media (max-width: $breakpoint-medium) {
			padding: 30px 40px;
		}
		@media (max-width: $breakpoint-small) {
			padding: 30px 20px;
		}
	}
	&.short {
		box-shadow: 0px 2px 10px 0px rgba(38,50,56,0.4);
		.wide {
			padding: 10px 80px;
			@media (max-width: $breakpoint-large) {
				padding: 10px 60px;
			}
			@media (max-width: $breakpoint-medium) {
				padding: 10px 40px;
			}
			@media (max-width: $breakpoint-small) {
				padding: 10px 20px;
			}
		}
	}
	&.hide {
		margin-top: -80px;
	}
	a {
		transition: $medium $transition color;
		vertical-align: middle;
		display: inline-block;
		text-decoration: none;
		margin-right: 40px;
		color: $light-gray;
		&:hover,
		&.active {
			color: $white;
		}
		&:first-of-type {
			margin-right: 60px;
		}
		@media (max-width: $breakpoint-large) {
			margin-right: 30px;
			&:first-of-type {
				margin-right: 40px;
			}
		}
	}
	.cta-link {
		position: relative;
		float: right;
		margin-right: 0;
	}
	.github-stars {
		float: right;
		margin-top: 10px;
		margin-right: 10px;
	}
	.cta {
		transition: $medium $transition color;
		position: relative;
		float: right;
		background-color: $darker-gray;
		border-radius: 100%;
		width: 41px;
		height: 41px;
		border: 2px solid $darker-gray;
		color: $gray;
		cursor: pointer;
		// &::after {
		// 	content: "more_vert";
		// 	font-family: "Material Icons";
		// 	font-size: 24px;
		// 	position: absolute;
		// 	top: 3px;
		// 	right: -24px;
		// 	color: $white;
		// }

		// This was turned off to make room for the GitHub Stars button
		// &::after {
		// 	transition: $medium $transition all;
		// 	content: "GitHub";
		// 	// font-family: "Material Icons";
		// 	// font-size: 24px;
		// 	position: absolute;
		// 	top: 8px;
		// 	right: 38px;
		// 	padding-right: 12px;
		// 	color: $light-gray;
		// 	// opacity: 0;
		// }
		.octicon {
			width: 27px;
			height: 27px;
			margin-top: 5px;
			margin-left: 5px;
			path {
				transition: $medium $transition all;
				fill: $gray;
			}
		}
		i {
			margin-top: 5px;
			margin-left: 7px;
		}
		&:hover {
			color: $white;
			.octicon {
				path {
					fill: $white;
				}
			}
			&::after {
				color: $white;
				// opacity: 1;
			}
		}
	}
	.menu {
		transition: $medium $transition color;
		position: relative;
		float: right;
		width: 40px;
		height: 40px;
		color: $white;
		cursor: pointer;
		margin-top: 8px;
		text-align: right;
		display: none;
		&:hover {
			color: $lighter-gray;
		}
		.material-icons {
			font-size: 24px;
		}
	}
	@media (max-width: $breakpoint-medium) {
		a:not(.logo),
		.cta {
			display: none;
		}
		.menu {
			display: block;
		}
	}
}

header {
	padding-top: 100px;
	position: relative;
	background-color: $darkest-gray;
	color: $white;
	h1 {
		margin-top: 0;
	}
	.content {
		max-width: 520px;
		padding-bottom: 40px;
		&.with-angle {
			padding-top: 40px;
		}
	}
	.angle {
		width: 100%;
		height: 40px;
		path,
		polygon {
			fill: $lightest-gray;
		}
		@media (max-width: $breakpoint-medium) {
			display: none;
		}
	}
}

.subheader {
	transition: $slow $transition all;
	position: sticky;
	top: 60px;
	background-color: $white;
	width: 100%;
	text-align: right;
	font-size: 0.875rem;
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
	z-index: 2;
	&.hide {
		top: -120px;
	}
	.wide {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	a {
		transition: $medium $transition color;
		margin-left: 40px;
		text-decoration: none;
		color: $light-gray;
		&.active,
		&:hover {
			color: $darkest-gray;
		}
	}
	@media (max-width: $breakpoint-small) {
		display: none;
	}
}

.notice {
	background-color: $accent;
	color: $white;
	padding: 10px 0;
	text-align: left;
	.wide {
		position: relative;
		padding: 10px 80px;
		.material-icons {
			position: absolute;
			top: 50%;
			left: 80px;
			transform: translateY(-50%);
		}
		p {
			color: $white;
			padding-left: 32px;
		}
		@media (max-width: $breakpoint-large) {
			padding: 10px 60px;
			.material-icons {
				left: 60px;
			}
		}
		@media (max-width: $breakpoint-medium) {
			padding: 10px 40px;
			.material-icons {
				left: 40px;
			}
		}
		@media (max-width: $breakpoint-small) {
			padding: 10px 20px;
			.material-icons {
				left: 20px;
			}
		}
	}
}