ul.roadmap {
	list-style: none;
	padding: 0;
	margin-top: 80px;
	text-align: center;
	> li {
		&.hidden {
			display: none;
		}
		&:last-of-type ul {
			padding-bottom: 0;
		}
		h3 {
			padding: 10px;
		}

		ul {
			padding: 20px;
			list-style: none;
			margin-left: 50%;border-left: 2px solid $lighter-gray;
			padding-bottom: 40px;
			li {
				transition: $medium $transition all;
				position: relative;
				margin-bottom: -20px;
				text-align: left;
				div {
					background-color: $white; //rgba(38,50,56,0.04);
					border-radius: $border-radius;
					padding: 20px;
					display: inline-block;
					border-bottom: 2px solid $lighter-gray;
					.badge .material-icons {
						margin-left: -2px;
						margin-right: -2px;
					}
					&::before {
						content: "";
						position: absolute;
						top: 10px;
						left: -6px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 6px 6px 6px 0;
						border-color: transparent $white transparent transparent; // rgba(38,50,56,0.04)
						z-index: 2;
					}
					&::after {
						content: "";
						position: absolute;
						top: 13px;
						left: -6px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 6px 6px 6px 0;
						border-color: transparent $lighter-gray transparent transparent; // rgba(38,50,56,0.04)
						z-index: 1;
					}
				}
				&::before {
					content: "";
					position: absolute;
					top: 7px;
					left: -30px;
					width: 10px;
					height: 10px;
					background-color: $light-gray;
					border-radius: 100%;
					border: 4px solid $lightest-gray;
				}
				&:nth-child(odd) {
					text-align: right;
					left: calc(-100% - 40px);
					div {
						&::before {
							right: -6px;
							left: auto;
							border-width: 6px 0 6px 6px;
							border-color: transparent transparent transparent $white;
						}
						&::after {
							right: -6px;
							left: auto;
							border-width: 6px 0 6px 6px;
							border-color: transparent transparent transparent $lighter-gray;
						}
					}
					&::before {
						right: -28px;
						left: auto;
					}
				}
			}
		}
	}
}