::selection {
  background: rgba(38,50,56,0.4);
  color: $white;
}

h1 {
  font-size: 1.8rem;
  font-weight: 300;

  @media (min-width: $breakpoint-small) {
    font-size: 2.25rem;
  }
}

h2 {
	font-size: 32px;
	line-height: 48px;
	font-weight: 300;
	max-width: 800px;
	margin: auto;
	text-align: center;
	color: $gray;
	@media (max-width: $breakpoint-medium) {
		font-size: 24px;
		line-height: 38px;
	}
	&.vision {
		max-width: 1000px;
		text-align: left;
		margin-top: 80px;
		margin-bottom: 80px;
	}
	b {
		color: $darkest-gray;
		font-weight: 300;
		&.highlight {
			// background-color: $accent-light;
			// padding: 2px 2px;
			// margin: 0 -2px;
			// border-radius: 3px;
			color: $accent;
		}
	}
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 0.875rem;
}

p {
  color: $gray;
  line-height: 1.7;
}

.center {
	text-align: center;
}

.blue {
	transition: $medium $transition color;
	color: $accent;
	text-decoration: none;
	&:hover {
		color: $accent-dark;
	}
}

.internal {
	&::after {
		transition: $medium $transition all;
		content: "arrow_forward";
		font-family: "Material Icons";
		font-size: 18px;
		vertical-align: middle;
		margin-left: 6px;
	}
	&:hover {
		&::after {
			margin-left: 8px;
		}
	}
}

.external {
	&::after {
		content: "launch";
		font-family: "Material Icons";
		font-size: 18px;
		vertical-align: middle;
		margin-left: 6px;
		display: inline-block;
		margin-top: -3px;
	}
}

del {
	position: relative;
	text-decoration: none;
	&:after{
		content: "";
		position: absolute;
		top: 58%;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $darkest-gray;
		transform: rotate(2.5deg);
	}
}